/*---------------------*\
        $HEADER 
\*----------------------*/
body {
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.container-nav-button__invite{
   @include button_personalizado;
   @include anclas;
   
}
.container-nav-button__invite:hover{
    background: transparentize( $color-secundario, 0.2);
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        display: flex;
        
    } 
    li{
        list-style: none;
    }  
    nav  a{
     @include anclas;
     padding: 10px 30px 10px 30px;
     color: $color-light;
    }
    nav  a:hover{
        border-bottom: 2px solid $color-secundario;
        color: #222;
    }

}
/////////////////////////principal/////////
.container-principal{
    display: flex;
    background-color: #eee ;
    height: 500px; 
}
.container-principal_contenido{
    padding: 20px;
    margin: 50px 0px 0px 50px;
    h1, p{
        padding: 10px;
    }
    p{
       color: $color-light;
    }
}
.container-principal__img{
   background-image: url("../assets/bg-intro-desktop.svg");
    width: 100%;
    margin: 0;
    text-align: center;
    img{
     width: 50%;
     height: 100%;
     position: relative;
     left: 10%;
     top: 2%;
   }
    
}
.button-burguer{
    margin: 10px 30px 10px 10px;
    display: none;
}


